h1 {
  text-align: center;
}

strong {
  text-align: center;
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .lovePhotos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 4rem 4rem;
    margin-bottom: 0;
  }

  .lovePhotos img {
    height: 20rem;
    width: 20rem;
  }

  .plus {
    align-self: center;
  }
}

.declarationLove {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 4rem;
}
.lovePhotos {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.personSection {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
  justify-content: center;
}
.personSection p {
  text-align: center;
}
.lovePhotos img {
  height: 30rem;
  border-radius: 16px;
}
.plus {
  align-self: center;
}
.squarePhoto {
  object-fit: cover;
  -webkit-mask-image: url("../public/square-fill.svg");
  mask-image: url("../public/square-fill.svg");
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.heartPhoto {
  object-fit: cover;
  -webkit-mask-image: url("../public/heart-fill.svg");
  mask-image: url("../public/heart-fill.svg");
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

footer {
  margin-bottom: 4rem;
}
